
<h3>el nombre del pais es: @ViewBag.PaisBuscado.Nombre</h3> <br>
<h3>la poblacion del pais es de: @ViewBag.PaisBuscado.Poblacion habitantes</h3><br>
<h3>el principal atractivo turistico de este pais es: @ViewBag.PaisBuscado.AtractivosTuristicos </h3><br>
<img id="IMGMenu" src="/imagenes/@ViewBag.PaisBuscado.ImgBandera"><br>
